/* Base- Header & Footer */
.navbg{
    background-color:#104911;
    color:white;
}
#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}
.footer {
    background-color:#104911;
    color:white;
    text-align: center;
}
.follow h3 {
    color: #fff;
    font-size:250%;
    padding-bottom: 25px;
}
.follow ul li {
    display: inline-block;
    margin : 0 4px;
}
.follow ul li a {
    color: #252525;
    background: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 110px;
    font-size: 27px;
    text-decoration:none;
    padding: 0%;
    margin-right:30px;
}
.follow ul li a:hover {
    color: #104911;
}
.copyright {
    background: #0f0f0f;
    text-align: center;
}
.copyright p {
    color: #fff;
    font-size:120%;

}

/* Search Bar */
.sb{
	width:300%;
	margin:5% 0 0 100%;

}
.search .input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #fff;
    outline: 0px
}
.search .form-control {
    border: 1px solid #fff;
}
.search input[type="text"]::placeholder { 
	text-align: center;
}

#r2c h1{
    font-size:150%;
    padding:0 3%;
    margin-top: 1%;
    font-weight: bold; 
    color:#fff;
}
#r2c a{
    text-decoration: none;
    color:#fff;
}