{%extends 'home/base.html'%}
{% load static %}
{%block body%}
<!DOCTYPE>
<html>
<head>
	<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	<link href="{% static 'css/home.css' %}" rel="stylesheet">
	<link href="{% static 'css/baseStyle.css' %}" rel="stylesheet">
	<script src="{% static 'js/home.js' %}"></script>

</head>
<body>


<div class='container'>
<div class='jumbotron car mt-4'>
</div>

<div class='row' id='svgs'>
  <div class='col-md-6 col-xs-12 '>
	<img src="{% static 'images/pharma.svg' %}" style='margin-left:50px;' height="100%" width="75%" alt="">
  </div>

  <div class='col-md-6 col-xs-12 row mt-5'>
		<div style="text-align: center;" class='col-md-6 col-xs-6'>
		<img src="{% static 'images/1.svg' %}">
		<div><span>1 Crore+</span><h3>Orders Delivered</h3></div>
		</div>

		<div style="text-align: center;" class='col-md-6 col-xs-6'>
		<img src="{% static 'images/2.svg' %}">
		<div><span>1 Lakh+</span> <h3>Medicines Available</h3></div>
		</div>

		<div style="text-align: center;" class='col-md-6 col-xs-6'>
		<img src="{% static 'images/3.svg' %}">
		<div><span>20k+</span> <h3>Pincodes Served</h3></div>
		</div>

		<div style="text-align: center;"class='col-md-6 col-xs-6'>
		<img src="{% static 'images/4.svg' %}">
		<div><span>50K+</span><h3>Families served</h3></div>
		</div> 
  </div>

</div>


<!-- Categories -->

<div class='mt-5 row cats' data-aos='fade-up'>
<div  class='pull-left'><h2 class='homehead' >Categories</h2></div>

	<div class="card col-md-3 m-md-1">
		<img class="card-img-top" src="{% static 'images/c1.png' %}">
		<h5 class="p-1 pt-2">Medical Devices</h5>
	</div>

	<div class="card col-md-3 m-md-1">
		<img class="card-img-top" src="{% static 'images/c2.png' %}">
		<h5 class="p-1 pt-2">Ayurvedic Care</h5>
	</div>

	<div class="card col-md-3 m-md-1">
		<img class="card-img-top" src="{% static 'images/c3.png' %}">
		<h5 class="p-1 pt-2">Skin Care</h5>
	</div>

	<div class="card col-md-3 m-md-1">
		<img class="card-img-top" src="{% static 'images/c4.png' %}">
		<h5 class="p-1 pt-2">Mom and Baby</h5>
	</div>

<div><h6 class='pull-right pt-2'><a href="{% url 'medicineDashboard' %}">View More</a></h6></div>
</div>

<!-- Brands -->
<!--<div class=' topB row animated fadeInUp mt-5'> -->
<div class='mt-5 row brands' data-aos='fade-up'>
	<h2 class='homehead' >Top Brands</h2>
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b1.jpg' %}">
			<h5 class="p-1 pt-2">Horlicks</h5>
		</div>
	
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b2.png' %}">
			<h5 class="p-1 pt-2">Dabur</h5>
		</div>
	
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b7.jpg' %}">
			<h5 class="p-1 pt-2">One Touch</h5>
		</div>
	
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b4.png' %}">
			<h5 class="p-1 pt-2">Mamaearth</h5>
		</div>
	
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b5.png' %}">
			<h5 class="p-1 pt-2">Dettol</h5>
		</div>
	
		<div class="card col-md-2 m-md-1">
			<img class="card-img-top" src="{% static 'images/b6.jpg' %}">
			<h5 class="p-1 pt-2">Nivea</h5>
		</div>

		<div><h6 class='pull-right'><a href="{% url 'medicineDashboard' %}">View More</a></h6></div>
</div>

<div class='mt-5' id='why' data-aos='fade-up'>
<h2 class='homehead'>Why Route2Care</h2>
<div class='row pt-3'>
	<div class='col-md-6 col-12 row'> 
		<img class='col-md-3 col-3 pt-2' src="{% static 'images/why3.png' %}" height='70%' width='20%'>
		<div class='col-md-9 col-9'>
		<h4>Maximize Your Savings</h4>
		<p>Route2Care offers various discounts and rewards.</p>
		</div>
	</div>
	<div class='col-md-6 col-12 row'> 
		<img class='col-md-3 col-3 pt-2' src="{% static 'images/why1.png' %}" height='70%' width='12%'>
		<div class='col-md-9 col-9'>
		<h4>Click and Pick</h4>
		<p>Click to buy a range of products across categories.</p>
		</div>
	</div>
	<div class='col-md-6 col-12 row'> 
		<img class='col-md-3 col-3 pt-2' src="{% static 'images/why4.png' %}" height='70%' width='20%'>
		<div class='col-md-9 col-9'>
		<h4>Home Delivery</h4>
		<p>We offer convenient home delivery of medicines & general goods.</p>
		</div>
	</div>
	<div class='col-md-6 col-12 row'> 
		<img class='col-md-3 col-3 pt-2' src="{% static 'images/why2.png' %}" height='70%' width='12%'>
		<div class='col-md-9 col-9'>
		<h4>24/7 Service</h4>
		<p>Our services are available to you 24/7.</p>
		</div>
	</div>
</div>
</div>


<div class='mt-5' id='review' data-aos='fade-up'>
<h2 class='homehead mb-0'>Customer Feedback</h2>

<div class="row">
<div class="col-sm-12">
	<div id="customers-testimonials" class="owl-carousel">

	<!--TESTIMONIAL 1 -->
	<div class="item">
		<div class="shadow-effect">
		<img class="rounded-circle" src="{% static 'images/person1.jpg' %}" alt="">
		<p>This app is a game changer for me. I am unable to go out always to buy medicinal products. The app is very user friendly and me being an elderly person do not find any difficulty in using it.  They deliver well in time. Thanks😊 </p>
		</div>
		<div class="testimonial-name">EMILIANO AQUILANI</div>
	</div>
	<!--END OF TESTIMONIAL 1 -->
	<!--TESTIMONIAL 2 -->
	<div class="item">
		<div class="shadow-effect">
		<img class="rounded-circle" src="{% static 'images/person2.jpg' %}" alt="">
		<p>Very good app. Would recommend it to everyone requiring fast and efficient delivery of medicinal products at the doorstep. Route2Care gives me the last liberty to shop essential healthcare products from home.</p>
		</div>
		<div class="testimonial-name">ANNA ITURBE</div>
	</div>
	<!--END OF TESTIMONIAL 2 -->
	<!--TESTIMONIAL 3 -->
	<div class="item">
		<div class="shadow-effect">
		<img class="rounded-circle" src="{% static 'images/person6.jpg' %}" alt="">
		<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
		</div>
		<div class="testimonial-name">PRIYA SHARMA</div>
	</div>
	<!--END OF TESTIMONIAL 3 -->
	<!--TESTIMONIAL 4 -->
	<div class="item">
		<div class="shadow-effect">
		<img class="rounded-circle" src="{% static 'images/person4.jpg' %}" alt="">
		<p>Excellent experience. Route2Care has not let it's customers down during lockdown. Thanks team. Great job. The application is also very smooth. And does its job well with an attractive UI and easy to use features. Good job developers.</p>
		</div>
		<div class="testimonial-name">IAN OWEN</div>
	</div>
	<!--END OF TESTIMONIAL 4 -->
	<!--TESTIMONIAL 5 -->
	<div class="item">
		<div class="shadow-effect">
		<img class="rounded-circle" src="{% static 'images/person5.jpg' %}" alt="">
		<p>Best service and app amongst all available. I have been using it for more than 3 years, and even during the pandemic, they have kept their standards high and are delivering the order within 24 hours. Keep up the good work.</p>
		</div>
		<div class="testimonial-name">SARASWATI IYER</div>
	</div>
	<!--END OF TESTIMONIAL 5 -->
	</div>
</div>
</div>
</div>

<!-- Container Ends -->
</div>




 
<body>
</html>


{%endblock body%}