{%extends 'home/base.html'%}
{% load static %}
{%block body%}
<html>
<head>
	<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
	<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>

<div class='container'>

<div class='jumbotron custDashboard mt-4 row'>
<div class='col-md-6 dashTitle'>
	<h1 class=''>Route2Care</h1>
	<h3 class='dashName'>Welcome , Name</h3>
</div>
<img class='col-md-6' src="{% static 'images/dashboard.png' %}" >
</div>

<div class='medicineList  row'>
	<div class="product-card col-md-3">
		<div class="product-tumb">
			<img src="" alt="Medicine Image">
		</div>
		<div class="product-details">
			<span class="product-catagory">Category</span>
			<h4><a href="">Med Name</a></h4>
			<p>Descriptionnnnn</p>
			<div class="product-bottom-details">
				<div class="product-price">Price</div>
				<div class="product-links">
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="product-card col-md-3">
		<div class="product-tumb">
			<img src="" alt="Medicine Image">
		</div>
		<div class="product-details">
			<span class="product-catagory">Category</span>
			<h4><a href="">Med Name</a></h4>
			<p>Descriptionnnnn</p>
			<div class="product-bottom-details">
				<div class="product-price">Price</div>
				<div class="product-links">
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="product-card col-md-3">
		<div class="product-tumb">
			<img src="" alt="Medicine Image">
		</div>
		<div class="product-details">
			<span class="product-catagory">Category</span>
			<h4><a href="">Med Name</a></h4>
			<p>Descriptionnnnn</p>
			<div class="product-bottom-details">
				<div class="product-price">Price</div>
				<div class="product-links">
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="product-card col-md-3">
		<div class="product-tumb">
			<img src="" alt="Medicine Image">
		</div>
		<div class="product-details">
			<span class="product-catagory">Category</span>
			<h4><a href="">Med Name</a></h4>
			<p>Descriptionnnnn</p>
			<div class="product-bottom-details">
				<div class="product-price">Price</div>
				<div class="product-links">
					<a href=""><i class="fa fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</div>
<body>
</html>


{%endblock body%}