{%extends 'home/base.html'%}
{% load static %}
{%block body%}
<html>
<head>
	<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
	<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>

<div class='container'>
<div class='medPage row mt-4'>
	<div class='col-md-4'>
		<img src='' alt='Medicine Thumbnail'>
	</div>
	<div class='col-md-8'>
		<h1 class='medTitle'>Name</h1>
		<h4>Manufacturer</h4>
		<h3 class='medDesc'>Description</h3>



</div>
</div>
</div>
<body>
</html>


{%endblock body%}