{%extends 'home/base.html'%}
{% load static %}
{%block body%}
<html>
<head>
	<meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
	<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

</head>
<body>

<div class='container'>

<div class='medPage'>
	<div class='col-md-12 px-md-5 mt-sm-2'>
		<h1 class='medTitle'>{{med.med_name}}</h1>
		<h5 class='medBrand'>{{med.manufacturer}}</h5>
		<hr>
		<h2 class='medPrice'>Rs. {{med.mrp}}</h2>
		
		{% if med.prescription == "Y" %}
		<div class='pres my-2'>
		<form class='row' method="post" action="" enctype="multipart/form-data">
		{% csrf_token %}
			<h3 class='medHeading' style='color: #000;'>Upload Prescription</h3>
			<div class='col-md-8 m-0'><input name='pres' type="file" class='form-control' required></div>
			<div class='col-md-4 m-0'><button type='submit' class='form-control up'>Upload</button></div>
		</form>
		</div>
		{% endif %}
		<button  id='atc'data-medicine="{{med.id}}" data-action="add" class='btn my-3 p-2 addToCart update-cart'>Add To Cart</button>


		
		<!-- <button class='btn btn-dark my-3 p-2 addToCart'>Add To Cart</button> -->

		<div class='row mt-4 medInfo'>
			<div class='col-md-3'>
				<h3 class='medHeading showUses'>Uses &#9660;</h3>
				<div class='uses'>
					<p>{{med.uses}}</p>
				</div>
			</div>
			
			<div class='col-md-3'>
				<h3 class='medHeading showEffects'>Side Effects &#9660;</h3>
				<div class='sideeffects'>
				<p>{{med.Side_Effects}}</p>
				</div>
			</div>

			<div class='col-md-3'>
				<h3 class='medHeading showCons'>Constituents &#9660;</h3>
				<div class='cons'>
				<p>{{med.salt}}</p>
				</div>
			</div>

			<div class='col-md-3'>
				<h3 class='medHeading showQuan'>Quantity &#9660;</h3>
				<div class='quan'>
				<p>{{med.Type_of_Sell}}</p>
				</div>
			</div>

		</div>
	</div>
</div>

</div>
<script>
		$(document).ready(function(){
			$(".uses").hide();
			$(".sideeffects").hide();
			$(".cons").hide();
			$(".quan").hide();
		  $(".showUses").click(function(){
			$(".uses").toggle();
		  });
		  $(".showEffects").click(function(){
			$(".sideeffects").toggle();
		  });
		  $(".showCons").click(function(){
			$(".cons").toggle();
		  });
		  $(".showQuan").click(function(){
			$(".quan").toggle();
		  });
		});
	</script>
<body>
</html>


{%endblock body%}